header {
    background-color: #ffbaba;
}

.logo_sub {
    font-size: 1.7em;
    margin: 0;
}

.admin-squeal-button {
    border-radius: 50%;
    border-style: none;
    background-color: #ffffff00;
}

.admin-squeal-button-img {
    width: 2em;
    filter: invert(17%) sepia(87%) saturate(7277%) hue-rotate(359deg) brightness(109%) contrast(118%);
}

.admin-bg-button {
    background-color: #ff0000;
}

.admin-pill {
    background-color: #ff0000;
    padding: 0.5em;
    border-radius: 0.5em;
    color: #fff;
    text-decoration: none;
}

#adminCreateChannelsButton {
    margin: 0 0.5em;
}

#adminSearchPrivateSquealsPill {
    display: block;
    margin: auto;
    width: fit-content;
}