body {
    background-color: #ddddddff;
}

.formCard {
    margin: 1em 0em 1em 0em;
    padding: 1em;
    background-color: #fff;
    border-radius: 1em;
    border-style: solid;
    border-width: thin;
    border-color: #9c9c9c;
}

h1 {
    margin: 0.2em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

img {
    width: 100%;
    max-width: 30em;
}

.dangerZone {
    margin: 2em;
    padding: 1em;
    border-radius: 1em;
    border-style: solid;
    border-width: medium;
    border-color: #ff0000;
    color:#ff0000;
    background-color: #ffdede;
}

.modCard {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.modBtn {
    margin: 0em 1em;
}

.ruleCard {
    border-style: solid;
    border-width: thin;
    border-radius: 1em;
    padding: 1em;
    margin: 0.5em;
}

.dangerBtn {
    color: #ff0000;
    border-color: #ff0000;
    border-style: solid;
    border-radius: 0.3em;
}