.profile_img {
    width: 5rem!important;
    height: 5rem!important;
    border-radius: 50%!important;
    max-width: 20em;
    max-height: 20em;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }